.section.about {
  padding-bottom: 0;
}
.section-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: var(--margin);
}
.title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.descrption {
  display: flex;
}
.descrption > .list-item + .list-item {
  margin-left: 30px;
}

.list-item {
  width: 270px;
}
.features {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--third-bg-color);
  margin-bottom: var(--card-set-gap);
  width: 270px;
  height: 120px;
  border-radius: 4px;
}

.list-item .text {
  margin-bottom: 0;
}
.list-item .title {
  margin-bottom: 10px;
}

.text {
  color: var(--additional-text-color);
  line-height: 1.7;
}
.list .text-name,
.title-name {
  font-size: 16px;
  line-height: 1.17;
}
.title-name {
  font-weight: 500;
}
.text-name {
  margin-bottom: 16px;
  color: var(--additional-text-color);
}
