.line {
  border-bottom: 1px solid #ececec;
}
.header-conteiner {
  display: flex;
  align-items: center;
}
.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-family: var(--second-font);
  color: var(--accent-text-color);
  text-decoration: none;
}
.logo-accent-text {
  color: var(--main-text-color);
}

.site-nav {
  margin-left: 93px;
}

.site-nav-menu {
  display: flex;
}

.site-nav-menu .site-nav-item:not(:last-child) {
  margin-right: var(--margin);
}

.site-nav-menu .site-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.current {
  position: relative;
  color: var(--accent-text-color);
}
.current::after {
  position: absolute;
  content: "";
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
}
.current-link {
  transition: color var(--transit-time) var(--timing);
}
.current-link:hover,
.current-link:focus {
  color: var(--accent-text-color);
}

/* contacts */
.contact-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact-menu .contact-menu-item + .contact-menu-item {
  margin-left: var(--margin);
}
.contact-menu-link {
  display: flex;
  align-items: center;
  padding: 0;
  color: var(--icon-color);
  background-color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--additional-text-color);

  transition: color var(--transit-time) var(--timing);
}
.contact-menu-link:hover,
.contact-menu-link:focus {
  color: var(--accent-text-color);
}
.contact-menu-icon {
  fill: currentColor;
  margin-right: 8px;
}
